# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# VS Code / PyCharm
.vscode/
.idea/

# Environment variables
.env

# macOS
.DS_Store

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints

# Log files
*.log

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Language server
.pyre/

# Cache
.cache/
*.sqlite3
*.db

# Testing artifacts
htmlcov/
coverage.xml
*.cover
*.py,cover

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

